body{
    background-color: black;
    color: white;
}
.div1{
    border: 1px solid red;
    
}
.txt{
    font-size: 40px;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 40px;
    font-family: Satisfy;
}